<h1>Search for - <%= @search_term %></h1>

<% if @courses === [] %>
<p>No courses found with relevant information... Sorry</p>

<% else %>
	
<table border="1">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<% @courses.each do |course| %>
		<tr class=<%= cycle('even', 'odd') %>>
			<td><%= image_tag(course["photoUrl"], :size => "300x250") %></td>
			<td><%= course["name"] %></td>
			<td><%= course["description"] %></td>
		</tr>
	<% end %>
</table>
<% end %>
